.footer {
  width: 100%;
  padding: 0 20px 35px;
  position: fixed;
  bottom: 0;
  
  &__bottom {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }
  
  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: light;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  &__legal {
    
  }
}