.forward-enter {
  left: 100% !important;
}

.forward-enter.forward-enter-active {
  left: 0 !important;
  transition: left .8s linear;
}

.forward-leave {
  left: 0;
}

.forward-leave.forward-leave-active {
  left: -100%;
  transition: left .8s linear;
}

.back-enter {
  left: -100% !important;
}

.back-enter.back-enter-active {
  left: 0 !important;
  transition: left .8s linear;
}

.back-leave {
  left: 0;
}

.back-leave.back-leave-active {
  left: 100%;
  transition: left .8s linear;
}
